/* body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1B1C1F;

}

.app {
  text-align: center;
} */


.App {
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1B1C1F;
}

.app {
  text-align: center;
} 
